{% extends 'base.html' %}

{% block head %}
<title>Create Respondent</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Create new respondent:</h1>
    <form action="/create/Respondent/{{ case }}" method="post">
        <label for="sin">SIN of Witness:</label>
        <input type="number" id="sin" name="sin"><br>
        <label for="name">Name of Witness:</label>
        <input type="text" id="name" name="name"><br>
        <label for="phone">Phone Number of Witness:</label>
        <input type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>
        <label for="address">Address of Witness:</label>
        <input type="text" id="address" name="address"><br>
        <label for="email">Email of Witness:</label>
        <input type="text" id="email" name="email"><br>
        <label for="barristerName">Barrister Name:</label>
        <input type="text" id="barristerName" name="barristerName"><br>
        <label for="barristerEmail">Email of Barrister:</label>
        <input type="text" id="barristerEmail" name="barristerEmail"><br>
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}