{% extends 'base.html' %}

{% block head %}
<title>Delete Entity</title>
{% endblock %}

{% block body %}
<h1>Choose the entity you would like to delete</h1>
<div class="content">
    <form action="/delete/choose/0/0" method="post">
        <select id="entity" name="entity">
            {% for entity in entities %}
                <option value="{{ entity }}">{{ entity }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Delete">
    </form>
</div>
{% endblock %}