{% extends 'base.html' %}

{% block head %}
<title>Update Affidavit</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="content_title">Update Affidavit:</div>
    <form action="/update/Affidavit/{{ case }}/{{ id }}" method="post">
        <label for="submitterName">Submitter name:</label>
        <input type="text" id="submitterName" name="submitterName" value="{{ affidavit[0] }}"><br>
        <label for="dateSubmitted">Date of submission:</label>
        <input type="date" id="dateSubmitted" name="dateSubmitted" value="{{ affidavit[1] }}"><br>
        <label for="linkToDoc">Link to Document:</label>
        <input type="text" id="linkToDoc" name="linkToDoc" value="{{ affidavit[2] }}">
        <label for="dateGiven">Date given:</label>
        <input type="date" id="dateGiven" name="dateGiven" value="{{ affidavit[3] }}"><br>
        <label for="affiantName">Affiant name:</label>
        <input type="text" id="affiantName" name="affiantName" value="{{ affidavit[4] }}"><br>
        <label for="phone">Phone Number of Affiant:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{ affidavit[5] }}"><br>
        <label for="email">E-mail of Affiant:</label>
        <input type="email" id="email" name="email" value="{{ affidavit[6] }}"><br>
        <label for="deadline">Deadline for submission:</label>
        <input type="date" id="deadline" name="deadline" value="{{ affidavit[7] }}"><br>
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}