{% extends 'base.html' %}

{% block head %}
<title>Update Registry Officer</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="content_title">Update Registry Officer:</div>
    <form action="/update/RegistryOfficer/0/0" method="post">
        <label for="id">Choose Registry Officer to update</label>
        <select id="id" name="id">
            {% for ro in registry_officers %}
                <option value="{{ ro[0] }}">{{ ro[1], ro[2] }}</option>
            {% endfor %}
        </select><br>
        <label for="name">New Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="email">New Email:</label>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}