{% extends 'base.html' %}

{% block head %}
<title>Update Entity</title>
{% endblock %}

{% block body %}
<div class="content_title">Choose the entity you would like to update:</div>
<div class="content">
    <form action="/update/choose/0/0" method="post">
        <select id="entity" name="entity">
            {% for entity in entities %}
                <option value="{{ entity }}">{{ entity }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}