{% extends 'base.html' %}

{% block head %}
<title>Judges</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="content_title">Judges:</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            {% for judge in judges %}
                <tr>
                    <td>{{ judge[0] }}</td>
                    <td>{{ judge[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}